<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314572240368-oci73sl4o678dthj8vuild6ok4uvtdbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314572240368-oci73sl4o678dthj8vuild6ok4uvtdbn</string>
	<key>API_KEY</key>
	<string>AIzaSyBpdtLn3JE0rMtf6Q6VQtqatNpcCQpGAG0</string>
	<key>GCM_SENDER_ID</key>
	<string>314572240368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cho.refriger-management-project</string>
	<key>PROJECT_ID</key>
	<string>refriger-management-project</string>
	<key>STORAGE_BUCKET</key>
	<string>refriger-management-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314572240368:ios:384719c2a933e9b16c5935</string>
	<key>DATABASE_URL</key>
	<string>https://refriger-management-project.firebaseio.com</string>
</dict>
</plist>